<template>
  <div>
    <h5>Meus jogos:</h5>

    <ul>
      <li
        v-for="(jogo, i) in jogos"
        :key="i"
      >
        <span
          v-for="(numero, i) in jogo"
          :key="i"
        >
          <!-- Aqui entra a reatividade de verificação
            do número sorteado que, se verdadeira, é
            incluída a classe 'sorteado' -->
          <span :class="foiSorteado(numero) && 'sorteado'">
            {{format(numero)}}</span>{{' '}}
          </span>
          </li>
    </ul>

    <button
      class="waves-effect waves-light btn blue"
      @click="novosJogos()"
    >
      Gerar novamente
      </button>
  </div>
</template>

<script>
/**
 * Importações necessárias
 */
import { JogoService } from '../services/JogoService';
import { StringHelpers } from '../helpers/StringHelpers';

export default {
  /**
   * Nome do componente
   */
  name: 'meus-jogos',

  /**
   * created() faz parte do
   * ciclo de vida do Vue e
   * é disparado assim que
   * o componente é criado
   */
  created() {
    /**
     * Instanciando service e
     * armazenando-o em atributo
     */
    this.jogoService = new JogoService();
  },

  /**
   * Esse componente recebe dados
   * do componente pai através de
   * props, semelhante ao React.
   */
  props: {
    /**
     * Os números sorteados
     * são utilizados para
     * verificar se determinado
     * número de determinado jogo
     * faz parte dos números
     * sorteados
     */
    numerosSorteados: {
      type: Array,
      default: []
    },

    /**
     * Vetor de jogos
     * do usuário
     */
    jogos: {
      type: Array,
      default: []
    }
  },

  /**
   * Dados reativos
   */
  data() {
    return {
      meusJogos: []
    }
  },

  methods: {
    /**
     * Formata números inserindo zero à
     * esquerda se necessário
     */
    format(numero) {
      return StringHelpers.leftPad(numero).trim();
    },

    /**
     * Invoca a criação de novos jogos no
     * componente pai
     */
    novosJogos() {
      this.$emit('quandoGerarNovamente');
    },

    /**
     * Indica se determinado número já
     * foi sorteado
     */
    foiSorteado(numero) {
      return this.numerosSorteados.indexOf(numero) !== -1;
    }
  }
}
</script>

<style scoped>
.sorteado {
  font-weight: bold;
  background-color: yellow;
}

ul,
li {
  font-family: monospace;
}
</style>
