<template>
  <div>
    <h5>Novo jogo:</h5>
    <div class="numeros">
      <div class="numeros">
        <input
          min="1"
          max="60"
          type="number"
          v-for="(numero, i) in novoJogo"
          v-model.number="novoJogo[i]"
          :key="i"
          :class="!numeroValido(numero) && 'invalido'"
        >
      </div>
    </div>

    <!-- Esse botão fica desabilitado se algum
      número estiver "inválido" -->
    <button
      class="waves-effect waves-light btn blue"
      @click="incluirJogo()"
      :disabled="temNumeroInvalido()"
    >
      Incluir novo jogo
    </button>
    {{'  '}}
    <button
      class="waves-effect waves-light btn blue"
      @click="gerarJogo()"
    >
      Gerar novo jogo
    </button>
  </div>
</template>

<script>
import { JogoService } from '../services/JogoService.js';

export default {
  name: 'novo-jogo',

  created() {
    this.jogoService = new JogoService();
    this.gerarJogo();
  },

  data() {
    return {
      novoJogo: []
    }
  },

  methods: {
    numeroValido: function(numero) {
      const numeroValido =
        !!numero && numero >= 1 &&
        numero <= 60 &&
        this.numeroUnico(numero);

      return numeroValido;
    },

    numeroUnico: function(numeroUnico) {
      const filter =
        this.novoJogo.filter(numero => numero === numeroUnico);

      return filter.length === 1;
    },

    temNumeroInvalido: function(numero) {
      for (let i = 0; i < this.novoJogo.length; i++) {
        const numero = this.novoJogo[i];
        if (!this.numeroValido(numero)) {
          return true;
        }
      }
      return false;
    },

    gerarJogo: function() {
      this.novoJogo = this.jogoService.obterNovoJogo(1, 60, 6);
    },

    incluirJogo: function() {
      /**
       * Imutabilidade
       */
      this.$emit('quandoCadastrarNovoJogo', [...this.novoJogo]);
    }
  }
}
</script>

<style scoped>

.numeros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
  margin-right: 30px !important;
}

.invalido {
  color: red;
}

</style>
