<template>
  <div>
    <!-- Exibindo os números sorteados -->
    <h5>
      Sorteio:
      <span
        v-for="numero in numerosSorteados"
        :key="numero"
      >{{ format(numero) + ' ' }}</span>
    </h5>

    <!-- Botão para um novo sorteio -->
    <button
      class="waves-effect waves-light btn green"
      @click="sortear()"
      :disabled="sorteando"
    >
      {{ sorteando ? 'Sorteando...' : 'Iniciar sorteio' }}
    </button>
  </div>
</template>

<script>
/**
 * Importando service e StringHelpers (que possui o método leftPad)
 */
import { JogoService } from '../services/JogoService';
import { StringHelpers } from '../helpers/StringHelpers';

/**
 * Importação relacionada ao RxJS
 */
import { interval } from 'rxjs';
import { map, take } from 'rxjs/operators';

export default {
  /**
   * Nome do componente
   */
  name: 'sorteio',

  /**
   * created() faz parte do
   * ciclo de vida do Vue e
   * é disparado assim que
   * o componente é criado
   */
  created() {
    /**
     * Criando o atributo e instanciando
     * o service
     */
    this.jogoService = new JogoService();
  },

  /**
   * Dados reativos
   */
  data() {
    return {
      sorteando: false,
      numerosSorteados: [],
    };
  },

  methods: {

    /**
     * Formatando o número incluindo
     * zeros à esquerda se necessário
     */
    format(numero) {
      return StringHelpers.leftPad(numero);
    },

    /**
     * Efetuando o sorteio com o service
     * e utilização de RxJS
     */
    sortear: function() {
      /**
       * Indicando o início do sorteio
       */
      this.sorteando = true;

      /**
       * Reiniciando os números já sorteados
       * previamente
       */
      this.numerosSorteados = [];

      /**
       * Obtemos os números através
       * do service
       */
      const jogo = this.jogoService.obterNovoJogo(1, 60, 6);

      /**
       * Montando o observable:
       *
       * A cada meio segundo, obtemos o tamanho
       * do vetor de números com "take" e utilizamos
       * esse valor para exibir cada número pausadamente
       * pois todos já foram sorteados previamente.
       *
       * O "map" irá obter cada número sorteado, pois
       * vai chegar o índice do vetor (obtido com "take")
       * na variável "index"
       *
       * No subscribe, o observable é executado e cada
       * número será então exibido em tela a cada meio
       * segundo, conforme configuração do observable
       *
       * Por fim (completed), indicamos o fim do
       * sorteio e o botão volta a ficar habilitado
       * para um novo sorteio.
       */
      interval(500)
        .pipe(take(jogo.length), map(index => jogo[index]))
        .subscribe(
          /**
           * Next - executado a cada iteração. Aqui,
           * atualizamos o vetor e emitimos 'enquantoSortear'
           * enviando os números já sorteados ao componente
           * pai
           */
          numero => {
            this.numerosSorteados.push(numero);
            this.$emit('enquantoSortear', this.numerosSorteados);
          },

          /**
           * Error
           */
          erro => {
            console.error(erro);
          },

          /**
           * Completed - indicando que o
           * sorteio foi finalizado
           */
          () => {
            this.sorteando = false;
          },
        );
    },
  },
};
</script>

<style scoped>
</style>
