<template>
  <div>
    <!-- Componente de sorteio -->
    <sorteio
      @enquantoSortear="atualizarSorteio($event)">
    </sorteio>

    <hr>

    <!-- Componente de jogos -->
    <meus-jogos
      @quandoGerarNovamente="novosJogosAleatorios()"
      :jogos="jogos"
      :numerosSorteados="numerosSorteados">
    </meus-jogos>

    <hr>

    <!-- Componente de novo jogo -->
    <novo-jogo
      @quandoCadastrarNovoJogo="cadastrarNovoJogo($event)">
    </novo-jogo>
  </div>
</template>

<script>
/**
 * Importando todos os componentes
 * necessários
 */
import Sorteio from './components/Sorteio.vue';
import MeusJogos from './components/MeusJogos.vue';
import NovoJogo from './components/NovoJogo.vue';

/**
 * Importando service de jogos
 */
import { JogoService } from './services/JogoService';

export default {
  name: 'app',

  /**
   * Indicando que
   * usaremos os
   * componentes
   */
  components: {
    'sorteio': Sorteio,
    'meus-jogos': MeusJogos,
    'novo-jogo': NovoJogo,
  },

  /**
   * created() faz parte do
   * ciclo de vida do Vue e
   * é disparado assim que
   * o componente é criado
   */
  created() {
    /**
     * Criando atributo
     * para o service
     */
    this.jogoService = new JogoService();

    /**
     * Invocando a criação de
     * jogos aleatórios
     */
    this.novosJogosAleatorios();
  },

  /**
   * Os dados reativos são armazenados
   * na função data()
   */
  data() {
    return {
      /**
       * Aqui, armazenamos os números
       * a serem sorteados
       */
      numerosSorteados: [],

      /**
       * Aqui, guardamos todos os jogos, ou seja,
       * tanto os que são gerados aleatoriamente
       * quanto os jogos criados pelo usuário
       */
      jogos: [],
    };
  },

  methods: {
    /**
     * Esse método será emitido pelo componente
     * "Sorteio"
     */
    atualizarSorteio: function(numerosSorteados) {
      this.numerosSorteados = numerosSorteados;
    },

    /**
     * Esse método será emitido pelo componente
     * "NovoJogo"
     */
    cadastrarNovoJogo: function(novoJogo) {
      this.jogos.push(novoJogo);
    },

    /**
     * Método que cria 6 jogos
     * com números aleatórios
     */
    novosJogosAleatorios() {
      const novosJogos = [];

      for (let i = 0; i < 4; i++) {
        novosJogos.push(this.jogoService.obterNovoJogo(1, 60, 6));
      }

      this.jogos = novosJogos;
    },
  },
};
</script>

<style>
body {
  padding: 20px;
}
</style>
